include README.rst
include CHANGES.yml
include pytest.ini
include tox.ini
recursive-include test *.py
recursive-include docs Makefile *.rst *.py *.png
prune docs/_build
recursive-include options *.py
include .coveragerc
include .travis.yml
include toxcov.ini
include *.ini
include *.yml
include *.md
include *.pptx
include *.py
include *.txt
